<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>
    <div style="width:960px;margin:auto;">
      <%- partial('header') %>
      <%- body %>
      <%- partial('footer') %>
    </div>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
